<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.vito.coding.check.mapper.StudentDao">

	<resultMap type="DataAndExtra" id="resultDataAndExtra">
		<association property="data" javaType="Data">
			<id property="id" column="id"/>
			<result property="year" column="year"/>
			<result property="height" column="height"/>
			<result property="weight" column="weight"/>
			<result property="vital_capacity" column="vital_capacity"/>
			<result property="fivem" column="fivem"/>
			<result property="long_jump" column="long_jump"/>
			<result property="reach" column="reach"/>
			<result property="eightm" column="eightm"/>
			<result property="tenm" column="tenm"/>
			<result property="sit_ups" column="sit_ups"/>
			<result property="pull_up" column="pull_up"/>
			<result property="score" column="score"/>
		</association>
		<association property="extras" javaType="Extras">
			<id property="id" column="id"/>
			<result property="year" column="year"/>
			<result property="extra" column="extra"/>
		</association>
	</resultMap>
	
	<!-- 根据学号查询学生的数据 -->
	<select id="findStudentById" parameterType="String" resultType="Student">
		SELECT
			a_student.id,
			a_student.`name`,
			a_student.gender,
			a_student.school,
			a_student.grade,
			a_student.state,
			a_student.classes,
			a_student.duration,
			a_student.state,
			a_student.teacher
		FROM
			a_student
		WHERE
			a_student.id = #{value}
	</select>
	<!-- 根据学号查询学生的师生绑定数据 -->
	<select id="findStudentToTeacherById" parameterType="String" resultType="StudentAndItsTeacher">
		SELECT
			subjectid,
			subjectname,
			teacher AS newTeacher,
			`year`
		FROM
			a_teacher
		WHERE
			studentid = #{value}
		and `year`=(SELECT MAX(`year`)FROM a_teacher)
	</select>

	<!-- 查询数据 -->	
	
	<select id="findAllDataById" parameterType="String" resultMap="resultDataAndExtra">
		SELECT
			a.id,
			a.`year`,
			a.height,
			a.weight,
			a.vital_capacity,
			a.fivem,
			a.long_jump,
			a.reach,
			a.eightm,
			a.tenm,
			a.sit_ups,
			a.pull_up,
			a.score,
			b.extra
		FROM
			a_data a
		LEFT JOIN a_extras b ON a.id = b.id
		AND a.`year`=b.`year`
		WHERE
		a.id = #{value}
		AND a.first_check = "已审核"
		AND a.second_check = "已审核"
		ORDER BY
			a.`year`
	</select>
	
	
	<!-- 更新班级信息 -->
	<update id="updateData" parameterType="Student">
		update a_student
		<set>
			<if test="classes!=null">
				classes = #{classes},
			</if>
		</set>
		where id=#{id}
	</update>
	
</mapper>