<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.vito.coding.check.mapper.TeacherDao">

	<select id="findUserByUserName" parameterType="String"
		resultType="teacher">
		select * from s_user where s_user.userName = #{value}
	</select>
	
	<!-- 查询所有的数据 -->
	<select id="findTeacherData" parameterType="TeacherLike" resultType="teacher">
		select 	a_data.id,
				a_student.name,
				a_student.school,
				a_student.teacher,
				a_data.year,
				a_data.height,
				a_data.weight,
				a_data.vital_capacity,
				a_data.fivem,
				a_data.long_jump,
				a_data.reach,
				a_data.eightm,
				a_data.tenm,
				a_data.sit_ups,
				a_data.pull_up,
				a_data.score,
				a_data.first_check 
		from a_data,a_student 
		where a_data.id = a_student.id and a_student.state != '已毕业' and a_student.teacher != '学院'
		order by a_data.year,a_data.id 
		LIKE a_data.id = '%#{id}%' or a_student.name = '%#{name}%' or a_student.school = '%#{school}%' 
		     or a_student.teacher = '%#{teacher}%' or a_data.year = '%#{year}%'
		limit #{page},#{rows}
	</select>
	
	<!-- 查询所有的用户数据总数量 -->
	<select id="count" resultType="int">
		select count(*) from a_data
	</select>
	

</mapper>