<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.vito.coding.check.mapper.TeacherAndAcademyDao">

	
	<!-- 教师页面查询大一、大二的数据 -->
	<select id="findFreshmanTeacherData" parameterType="TeacherAndAcademyLike" resultType="TeacherAndAcademy">
		SELECT
			a_data.id,
			teaToStu. NAME,
			teaToStu.gender,
			teaToStu.school,
			teaToStu.grade,
			teaToStu.classes,
			teaToStu.duration,
			teaToStu.state,
			a_data. YEAR,
			a_data.height,
			a_data.weight,
			a_data.vital_capacity,
			a_data.fivem,
			a_data.long_jump,
			a_data.reach,
			a_data.eightm,
			a_data.tenm,
			a_data.sit_ups,
			a_data.pull_up,
			a_data.score,
			a_data.first_check,
			a_data.second_check
		FROM
			a_data,
			(
				SELECT
			stu.id,
			stu. NAME,
			stu.gender,
			stu.school,
			stu.grade,
			stu.classes,
			stu.duration,
			stu.state,
			stu.teacher AS flag,
			tea.`year`,
			tea.teacher,
			tea.subjectid,
			tea.subjectname
		FROM
			a_student stu
		LEFT JOIN a_teacher tea ON stu.id = tea.studentid
			) teaToStu
		WHERE
			a_data.id = teaToStu.id
		AND teaToStu.state != '已毕业'
		AND teaToStu.flag != '学院'
		AND teaToStu.teacher = #{teacher}
		AND teaToStu.`year`=a_data.`year`
		AND teaToStu.subjectname = #{subjectname}
		AND a_data.id LIKE '%${id}%'
		AND teaToStu. NAME LIKE '%${name}%'
		AND teaToStu.school LIKE '%${school}%'
		AND a_data. YEAR LIKE '%${year}%'
		ORDER BY
			a_data. YEAR DESC,
			a_data.id
		LIMIT #{page},#{rows}
	</select>
	
	<!-- 教师页面查询大一、大二的数据量 -->
	<select id="countFreshmanTeacherData" parameterType="TeacherAndAcademyLike" resultType="int">
		SELECT
			count(*)
		FROM
			a_data,
			(
				SELECT
			stu.id,
			stu. NAME,
			stu.gender,
			stu.school,
			stu.grade,
			stu.classes,
			stu.duration,
			stu.state,
			stu.teacher AS flag,
			tea.`year`,
			tea.teacher,
			tea.subjectid,
			tea.subjectname
		FROM
			a_student stu
		LEFT JOIN a_teacher tea ON stu.id = tea.studentid
			) teaToStu
		WHERE
			a_data.id = teaToStu.id
		AND teaToStu.state != '已毕业'
		AND teaToStu.flag != '学院'
		AND teaToStu.teacher = #{teacher}
		AND teaToStu.`year`=a_data.`year`
		AND teaToStu.subjectname = #{subjectname}
		AND a_data.id LIKE '%${id}%'
		AND teaToStu. NAME LIKE '%${name}%'
		AND teaToStu.school LIKE '%${school}%'
		AND a_data. YEAR LIKE '%${year}%'
	</select>
	
	<!-- 根据老师姓名大一大二课程列表 -->
	<select id="teacherFreshmanList" parameterType="String" resultType="String">
		SELECT
			tea.subjectname
		FROM
			a_student stu
		LEFT JOIN a_teacher tea ON stu.id = tea.studentid
		WHERE
			tea.teacher = #{value}
		AND stu.teacher != '学院'
		AND stu.state != '已毕业'
		GROUP BY tea.subjectname
	</select>
	
	<!-- 教师页面中查询大三大四的数据 -->
	<select id="findJuniorTeacherData" parameterType="TeacherAndAcademyLike" resultType="TeacherAndAcademy">
		SELECT
			a_data.id,
			a_student.name,
			a_student.gender,
			a_student.school,
			a_student.grade,
			a_student.classes,
			a_student.duration,
			a_student.state,
			a_student.teacher,
			a_data.year,
			a_data.height,
			a_data.weight,
			a_data.vital_capacity,
			a_data.fivem,
			a_data.long_jump,
			a_data.reach,
			a_data.eightm,
			a_data.tenm,
			a_data.sit_ups,
			a_data.pull_up,
			a_data.score,
			a_data.first_check,
			a_data.second_check
		FROM
			a_data,
			a_student
		WHERE
			a_data.id = a_student.id
		AND a_student.state != '已毕业'
		AND a_student.teacher = '学院'
		AND a_data.id LIKE '%${id}%'
		AND a_student.name LIKE '%${name}%'
		AND a_student.school LIKE '%${school}%'
		AND a_data.year LIKE '%${year}%'
		ORDER BY
			a_data.year DESC,
			a_data.id
		limit #{page},#{rows}
	</select>
	
	<!-- 教师页面中查询大三大四的数据量 -->
	<select id="countJuniorTeacherData" parameterType="TeacherAndAcademyLike" resultType="int">
		SELECT
			count(*)
		FROM
			a_data,
			a_student
		WHERE
			a_data.id = a_student.id
		AND a_student.state != '已毕业'
		AND a_student.teacher = '学院'
		AND a_data.id LIKE '%${id}%'
		AND a_student.name LIKE '%${name}%'
		AND a_student.school LIKE '%${school}%'
		AND a_data.year LIKE '%${year}%'
	</select>
	
	<!-- 教师页面导出大一、大二数据Excel -->
	<select id="findTeacherFreshmanExcel" parameterType="TeacherAndAcademyLike" resultType="TeacherAndAcademy">
		SELECT
			a_data.id,
			teaToStu. NAME,
			teaToStu.gender,
			teaToStu.school,
			teaToStu.grade,
			teaToStu.classes,
			teaToStu.duration,
			teaToStu.state,
			a_data. YEAR,
			a_data.height,
			a_data.weight,
			a_data.vital_capacity,
			a_data.fivem,
			a_data.long_jump,
			a_data.reach,
			a_data.eightm,
			a_data.tenm,
			a_data.sit_ups,
			a_data.pull_up,
			a_data.score,
			a_data.first_check,
			a_data.second_check
		FROM
			a_data,
			(
				SELECT
			stu.id,
			stu. NAME,
			stu.gender,
			stu.school,
			stu.grade,
			stu.classes,
			stu.duration,
			stu.state,
			stu.teacher AS flag,
			tea.`year`,
			tea.teacher,
			tea.subjectid,
			tea.subjectname
		FROM
			a_student stu
		LEFT JOIN a_teacher tea ON stu.id = tea.studentid
			) teaToStu
		WHERE
			a_data.id = teaToStu.id
		AND teaToStu.state != '已毕业'
		AND teaToStu.flag != '学院'
		AND teaToStu.teacher = #{teacher}
		AND teaToStu.`year`=a_data.`year`
		AND teaToStu.subjectname = #{subjectname}
		AND a_data.id LIKE '%${id}%'
		AND teaToStu. NAME LIKE '%${name}%'
		AND teaToStu.school LIKE '%${school}%'
		AND a_data. YEAR LIKE '%${year}%'
		ORDER BY
			a_data. YEAR DESC,
			a_data.id
	</select>
	
	<!-- 教师页面导出大三、大四数据Excel -->
	<select id="findTeacherExcel" parameterType="TeacherAndAcademyLike" resultType="TeacherAndAcademy">
		SELECT
			a_data.id,
			a_student.name,
			a_student.gender,
			a_student.school,
			a_student.grade,
			a_student.classes,
			a_student.duration,
			a_student.state,
			a_student.teacher,
			a_data.year,
			a_data.height,
			a_data.weight,
			a_data.vital_capacity,
			a_data.fivem,
			a_data.long_jump,
			a_data.reach,
			a_data.eightm,
			a_data.tenm,
			a_data.sit_ups,
			a_data.pull_up,
			a_data.score,
			a_data.first_check,
			a_data.second_check
		FROM
			a_data,
			a_student
		WHERE
			a_data.id = a_student.id
		AND a_student.state != '已毕业'
		AND a_student.teacher = '学院'
		AND a_data.id LIKE '%${id}%'
		AND a_student.name LIKE '%${name}%'
		AND a_student.school LIKE '%${school}%'
		AND a_data.year LIKE '%${year}%'
		ORDER BY
			a_data.year DESC,
			a_data.id
	</select>
	
	<!-- 学院页面查询大三，大四的数据 -->
	<select id="findAcademyData" parameterType="TeacherAndAcademyLike" resultType="TeacherAndAcademy">
		SELECT
			a_data.id,
			a_student. NAME,
			a_student.gender,
			a_student.school,
			a_student.grade,
			a_student.classes,
			a_student.duration,
			a_student.state,
			a_student.teacher,
			a_data. YEAR,
			a_data.height,
			a_data.weight,
			a_data.vital_capacity,
			a_data.fivem,
			a_data.long_jump,
			a_data.reach,
			a_data.eightm,
			a_data.tenm,
			a_data.sit_ups,
			a_data.pull_up,
			a_data.score,
			a_data.first_check,
			a_data.second_check
		FROM
			a_data,
			a_student
		WHERE
			a_data.id = a_student.id
		AND a_student.state != '已毕业'
		AND a_student.teacher = '学院'
		AND a_data.id LIKE '%${id}%'
		AND a_student. NAME LIKE '%${name}%'
		AND a_student.school = #{school}
		AND a_data. YEAR LIKE '%${year}%'
		ORDER BY
			a_data. YEAR DESC,
			a_data.id
		LIMIT #{page},#{rows}
	</select>
	
	<!-- 学院页面查询大三，大四的数据量 -->
	<select id="countAcademyData" parameterType="TeacherAndAcademyLike" resultType="int">
		SELECT
			count(*)
		FROM
			a_data,
			a_student
		WHERE
			a_data.id = a_student.id
		AND a_student.state != '已毕业'
		AND a_student.teacher = '学院'
		AND a_data.id LIKE '%${id}%'
		AND a_student. NAME LIKE '%${name}%'
		AND a_student.school = #{school}
		AND a_data. YEAR LIKE '%${year}%'
	</select>
	
	<!-- 学院页面查询大一，大二的数据 -->
	<select id="findAcademyFreshmanData" parameterType="TeacherAndAcademyLike" resultType="TeacherAndAcademy">
		select 	a_data.id,
				a_student.name,
				a_student.gender,
				a_student.school,
				a_student.grade,
				a_student.classes,
				a_student.duration,
				a_student.state,
				a_student.teacher,
				a_data.year,
				a_data.height,
				a_data.weight,
				a_data.vital_capacity,
				a_data.fivem,
				a_data.long_jump,
				a_data.reach,
				a_data.eightm,
				a_data.tenm,
				a_data.sit_ups,
				a_data.pull_up,
				a_data.score,
				a_data.first_check,
				a_data.second_check
		from a_data,a_student 
		where a_data.id = a_student.id and a_student.state != '已毕业' and a_student.teacher != '学院'
			 and a_data.id like '%${id}%' and a_student.name like '%${name}%' and  a_student.school = #{school}
			 and a_data.year like '%${year}%'
		order by a_data.year DESC,a_data.id 
		limit #{page},#{rows}
	</select>
	
	<!-- 学院页面查询大一，大二的数据量 -->
	<select id="countAcademyFreshmanData" parameterType="TeacherAndAcademyLike" resultType="int">
		SELECT
			count(*)
		FROM
			a_data,
			a_student
		WHERE
			a_data.id = a_student.id
		AND a_student.state != '已毕业'
		AND a_student.teacher != '学院'
		AND a_data.id LIKE '%${id}%'
		AND a_student. NAME LIKE '%${name}%'
		AND a_student.school = #{school}
		AND a_data. YEAR LIKE '%${year}%'
	</select>
	
	<!-- 学院页面查询大一、大二的数据Excel -->
	<select id="findAcademyFreshmanExcel" parameterType="TeacherAndAcademyLike" resultType="TeacherAndAcademy">
		select 	a_data.id,
				a_student.name,
				a_student.gender,
				a_student.school,
				a_student.grade,
				a_student.classes,
				a_student.duration,
				a_student.state,
				a_student.teacher,
				a_data.year,
				a_data.height,
				a_data.weight,
				a_data.vital_capacity,
				a_data.fivem,
				a_data.long_jump,
				a_data.reach,
				a_data.eightm,
				a_data.tenm,
				a_data.sit_ups,
				a_data.pull_up,
				a_data.score,
				a_data.first_check,
				a_data.second_check
		from a_data,a_student 
		where a_data.id = a_student.id and a_student.state != '已毕业' and a_student.teacher != '学院'
			 and a_data.id like '%${id}%' and a_student.name like '%${name}%' and  a_student.school = #{school}
			 and a_data.year like '%${year}%'
		order by a_data.year DESC,a_data.id 
	</select>

	<!-- 学院页面查询大三、大四的数据Excel -->
	<select id="findAcademyExcel" parameterType="TeacherAndAcademyLike" resultType="TeacherAndAcademy">
		SELECT
			a_data.id,
			a_student. NAME,
			a_student.gender,
			a_student.school,
			a_student.grade,
			a_student.classes,
			a_student.duration,
			a_student.state,
			a_student.teacher,
			a_data. YEAR,
			a_data.height,
			a_data.weight,
			a_data.vital_capacity,
			a_data.fivem,
			a_data.long_jump,
			a_data.reach,
			a_data.eightm,
			a_data.tenm,
			a_data.sit_ups,
			a_data.pull_up,
			a_data.score,
			a_data.first_check,
			a_data.second_check
		FROM
			a_data,
			a_student
		WHERE
			a_data.id = a_student.id
		AND a_student.state != '已毕业'
		AND a_student.teacher = '学院'
		AND a_data.id LIKE '%${id}%'
		AND a_student. NAME LIKE '%${name}%'
		AND a_student.school = #{school}
		AND a_data. YEAR LIKE '%${year}%'
		ORDER BY
			a_data. YEAR DESC,
			a_data.id
	</select>
	
	<!-- 修改教师页面的数据 -->
	<update id="updateTeacherData" parameterType="Data">
		update a_data
			<set>
				<if test="height!=null">
					height = #{height},
				</if>
				<if test="weight!=null">
					weight = #{weight},
				</if>
				<if test="vital_capacity!=null">
					vital_capacity = #{vital_capacity},
				</if>
				<if test="fivem!=null">
					fivem = #{fivem},
				</if>
				<if test="long_jump!=null">
					long_jump = #{long_jump},
				</if>
				<if test="reach!=null">
					reach = #{reach},
				</if>
				<if test="eightm!=null">
					eightm = #{eightm},
				</if>
				<if test="tenm!=null">
					tenm = #{tenm},
				</if>
				<if test="sit_ups!=null">
					sit_ups = #{sit_ups},
				</if>
				<if test="pull_up!=null">
					pull_up = #{pull_up},
				</if>
				<if test="score!=null">
					score = #{score},
				</if>
				<if test="first_check!=null">
					first_check = #{first_check},
				</if>
				<if test="second_check!=null">
					second_check = #{second_check},
				</if>
			</set>
			where id = #{id} and year = #{year}
	</update>
</mapper>